.App > .container { text-align: center; }

.NavigationBar .navbar-brand>img { animation: logo-spin infinite 20s linear; display: inline-block; height: 20px; }

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Clock { border: 2px solid; border-radius: 50%; font-size: 300%; line-height: 200px; margin: 20px auto; width: 200px; }
